---
layout: gallery
---

<!-- Wrapper -->
<div>


    <!-- Main -->
    <div id="wrap">
        <div id="try"></div>
        <ul id="box-container">
            {% for image in site.static_files reversed %}
            {% if image.path contains 'fulls' %}
            <li class="box">
                <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="swipebox" title="Mustache Guy" rel="gallery">
                    <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt="image">
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>        
    </div>


</div>
